<h1>ABOUT US</h1>

<p>We are a 100%, black owned professional service company that has been in
    existence since 2009. Initially, we were only known as DeeTZK production,
    and we were not full fully incorporated.</p>
    <p>It was in October 2017 that we were
        formally registered, and we have all the required compliance documents.
        Our objective is to bring industrial theatre and filming under one umbrella. The
        founder of this company is Abram Dzikiti. He has always had a passion for
        photography and video production. He applied his trade by taking photos and
        shooting videos on occasions like weddings, funerals and parties.</p>

        <p>For many years now, Mr Dzikiti has never lost sight of what he wanted to
            achieve. Through research, he has established undisputed facts that it is
            possible to integrate filming and theatre into one entity. This will be enabled
            through proper channels, technology and industrious human capacity.
            Though newly incorporated, the director and his professional team have
            extensive experience and expertise in various industries and are competent to
            render the best quality service at all times.</p>

            <p>
                We are collaborating with other
well established production to become a production powerhouse.
With the vast experience and competencies, and great work ethic and high
quality and excellence, the company is sure to make relevant inroads into the
various forms of filming and theatre productions to empower the youth and we
are intentional in becoming one of the key role players in these sectors.
Though the company is based in Gauteng, it has all the capacity to be a
supplier of choice in the whole of South Africa and beyond our boarders.
            </p>

            <p>We
                have people and organisations that have showed interest to work with us, and
                through skills development initiatives, we see our dream fulfilled everyday.
                Given the above undertaking, surely our company is earmarked to become a
                huge success and a great force to be reckoned with and highly recognised
                business venture in South Africa and in the entire African continent. We have
                the relevant skills and competencies to realise our vision.</p>
